*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit,Quicksand,sans-serif;
}
html, body {
  height: 100%;
}
body{
  height: 100vh;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
